<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
	<add key="tizen_api_dev" value="https://tizen.myget.org/F/dotnet/api/v2" />
    <add key="tinen_sdk_dev" value="https://www.myget.org/F/tizensdk/api/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="tinen_sdk" value="true" />
  </disabledPackageSources>
</configuration>